* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #555555;
    overflow-x: hidden;
}

.site-layout {
    width: 100vw;
    height: 100%;
}

.side-menu {
    background-color: #2c2c2c;
    width: 16.66%;
    height: 100vw;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    border-right: solid 2px #aaaaaa7c;
}

.nav-link {
    padding: 4% 0;
    display: block;
    border-bottom: 1px #aaaaaa7c solid;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 200ms all;
}

.schoolutilites-logo {
    width: 50%;
}

.nav-link:hover {
    background-color: rgb(56, 56, 56);
}

.content {
    position: absolute;
    left: 16.66%;
    width: 83.33%;
}

.header {
    width: 100%;
    margin: 50px 0;
    text-align: center;
    display: inline-block;
    color: white;
}

.detail-content {
    width: 100%;
    padding: 0 10%;
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.user-name {
    font-size: 1rem;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 4% 0;
}

.login{
    visibility: hidden;
}

.logout-btn{
    border: none;
    background-color: transparent;
    border-top: 1px #aaaaaa7c solid;
    font-size: 1rem;
    cursor: pointer;
}

.user-nav{
    background-color: #2c2c2c;
    width: 16.66%;
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    border-right: solid 2px #aaaaaa7c;
}